body {
  background-color: #23676B;
  text-align: center;
}

h1{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 250px 430px 10px 430px;
}

h4{
  color: white;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px 400px 10px 400px;
}

#title{
  margin: 1px 70px 10px 430px;
  text-align: center;
  border: 5px solid #175357;
  border-radius: 8px;
}

#year{
  margin: 1px 10px 10px 10px;
  width: 150px;
  text-align: center;
  border: 5px solid #175357;
  border-radius: 8px;
}

.buttons{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.searchButt{
  border: 5px solid #175357;
  border-radius: 8px;
  margin-left: 65px;
  margin-right:10px;
  padding: 5px 10px 5px 10px;

}

.resetButt{
  border: 5px solid #175357;
  border-radius: 8px;
  margin-left: 70px;
  margin-right:50px;
  padding: 5px 10px 5px 10px;

}

input:invalid {
  border: 1px solid red;
}

.required:after {
  content: ' *';
  color: red;
}

.form--group {
  margin-bottom: 1rem;
  display:flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}